<div class="row-fluid character-attribute">
  <div class="control-group span10 tome-item">
    <label class="control-label character-attribute-label">
      <strong><%= character_attribute.to_s.capitalize %>:</strong>
    </label>

    <div class="controls character-attribute-value">
      <div class="progress">
        <div id="<%= character_attribute %>-value" class="bar" style="width: <%= @tome.value_of character_attribute, :attribute %>%;" data-original-value="<%= @tome.send character_attribute %>"></div>
      </div>

      <%= render :partial => "bar_controls", :object => character_attribute %>
    </div>
  </div>
</div>
