<div class="row-fluid character-alignment">
  <div class="control-group span10 tome-item">
    <label class="control-label character-alignment-label">
      <strong id="character-<%= character_alignment %>-label"><%= @tome.value_of "#{character_alignment}_label", :alignment_label %></strong>
    </label>

    <div class="character-alignment-value">
      <div class="progress">
        <div id="<%= character_alignment %>-value" class="bar-marker" style="width: <%= @tome.value_of character_alignment, :alignment %>%;" data-original-value="<%= @tome.send character_alignment %>"></div>
        <div class="bar bar-danger" style="width: 33.3%;"></div>
        <div class="bar bar-warning" style="width: 33.3%;"></div>
        <div class="bar bar-success" style="width: 33.4%;"></div>
      </div>
    </div>

    <%= render :partial => "bar_controls", :object => character_alignment %>
  </div>
</div>
