<input id="edit_tome_path" type="hidden" value="<%= tome_path @tome.id %>" />
<input id="create_goal_path" type="hidden" value="<%= tome_goals_path @tome.id %>" />
<input id="can_edit" type="hidden" value="<%= can_edit? %>" />

<div class="can-edit-<%= can_edit? %>">
  <div class="page-header">
    <div class="row-fluid">
      <h5 class="span4 tome-item level-and-profession">
        <span class="character-level"><%= @tome.level.ordinalize %></span> level <span id="profession-value" data-original-value="<%= @tome.profession %>" data-input-placeholder="<%= Tome::DEFAULTS[:profession] %>"><%= @tome.value_of :profession %></span>
        <%= render :partial => "edit_button", :object => :profession %>
      </h5>
      <h5 class="span1 xp-amount">
        <span class="character-xp"><%= @tome.xp_total %> xp</span>
      </h5>
    </div>

    <div class="row-fluid">
      <h1 class="span8 tome-item character-name">
        <span id="name-value" data-original-value="<%= @tome.name %>" data-input-placeholder="<%= Tome::DEFAULTS[:name] %>"><%= @tome.value_of :name %></span>
        <%= render :partial => "edit_button", :object => :name %>
      </h1>
    </div>

    <% if @tome.owner.name %>
      <div class="row-fluid">
        <h5 class="aka-name">AKA <%= @tome.owner.name %></h5>
      </div>
    <% end %>
  </div>

  <div class="form-horizontal row-fluid character-attributes">
    <%= render :partial => "character_attribute", :object => :intelligence %>
    <%= render :partial => "character_attribute", :object => :charisma %>
    <%= render :partial => "character_attribute", :object => :strength %>
    <%= render :partial => "character_attribute", :object => :wisdom %>
    <%= render :partial => "character_attribute", :object => :will %>
    <%= render :partial => "character_attribute", :object => :confidence %>
  </div>

  <hr />

  <div class="form-horizontal row-fluid character-alignments">
    <%= render :partial => "character_alignment", :object => :morality %>
    <%= render :partial => "character_alignment", :object => :ethics %>
  </div>

  <hr />

  <h2>Goals</h2>

  <% @tome.goals.each do |goal| %>
    <%= render :partial => "goal", :object => goal %>
  <% end %>

  <div id="new-goals">
  </div>

  <% if can_edit? %>
    <div class="row-fluid">
      <input class="btn btn-primary create-goal" type="button" value="New Goal" />
    </div>
  <% end %>
</div>
