<div class="page-header">
  <h5 class="level-and-profession"><%= @tome.level.ordinalize %> level <%= @tome.profession || Tome::DEFAULTS[:profession] %></h5>
  <h1 class="character-name"><%= @tome.name || Tome::DEFAULTS[:name] %></h1>

  <% if @tome.owner.name %>
    <h5 class="aka-name">AKA <%= @tome.owner.name %></h5>
  <% end %>
</div>

<dl class="dl-horizontal row-fluid character-attributes">
  <%= render :partial => "character_attribute", :object => :intelligence %>
  <%= render :partial => "character_attribute", :object => :charisma %>
  <%= render :partial => "character_attribute", :object => :strength %>
  <%= render :partial => "character_attribute", :object => :wisdom %>
  <%= render :partial => "character_attribute", :object => :will %>
  <%= render :partial => "character_attribute", :object => :confidence %>
</dl>

<hr />

<dl class="dl-horizontal row-fluid character-alignments">
  <%= render :partial => "character_alignment", :object => :morality %>
  <%= render :partial => "character_alignment", :object => :ethics %>
</dl>
